################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyCompany.NetCore/v16/TestStore/0/000-0000.testlog
